<template>
    <div class="AppComponent">
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: "AppComponent"
    }
</script>

<style scoped>

</style>