<template>
    <div id="HeaderComponent">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
            <a class="navbar-brand" href="/">
                <!--<img src="../../src/assets/logo.png" width="100" height="50" class="rounded-circle" alt="">-->
                Prueba
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                </ul>
                <span class="navbar-text">
                    <ul class="navbar-nav">
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
             <!--<img :src="avatar" class="rounded-circle" width="30" height="30" alt="">-->
               {{user.name}}
           </a>
           <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
             <router-link to="/home" class="dropdown-item" >
               <i class="icon ion-md-settings"></i>
               home
             </router-link>
             <router-link to="/user" class="dropdown-item" >
               <i class="icon ion-md-key"></i>
               lista de usuarios
             </router-link>
             <router-link to="/logout" class="dropdown-item" >
               <i class="icon ion-md-log-out"></i>
               salir
             </router-link>
           </div>
         </li>
       </ul>
                </span>
            </div>
        </nav>
    </div>
</template>

<script>
    import global from '../global'
    import axios from 'axios'
    export default {
        name: "HeaderComponent",
        data(){
            return{
                user:{
                    name:''
                }
            }
        },
        methods:{
            infoUserFn: function () {
                const endpoint = global.$data.AUTH
                axios.get(endpoint).then((response) => {
                    if (response.data.success === true) {
                        this.user = response.data.data
                    }
                })
            }
        },
        mounted(){
            this.infoUserFn();
        }
    }
</script>

<style scoped>
</style>