<template>
    <div id="HeaderLoginComponent">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <!--<img src="../../src/assets/logo.png" width="100" height="50" class="rounded-circle" alt="">-->
                Prueba

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
</template>

<script>
    export default {
        name: "HeaderLoginComponent"
    }
</script>

<style scoped>

</style>