<template>
    <div id="HomeComponent">
        hola
    </div>
</template>

<script>
    export default {
        name: "HomeComponent"
    }
</script>

<style scoped>
    body {
        padding-top: 250px;
    }
</style>