<template>
    <div id="RegisterComponent">
        <v-header-login></v-header-login>
        <div class="form-signin">
            <div class="text-center mb-4">

                <h1 class="h3 mb-3 font-weight-normal">registro</h1>
            </div>
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" v-model="forms.name" required="required"
                                   placeholder="usuario">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" v-model="forms.email" required="required"
                                   placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" v-model="forms.password" required="required"
                                   placeholder="Password">
                        </div>

                        <div class="form-group">
                            <button type="submit" @click="registerUser" class="btn btn-outline-primary">
                                registrar
                            </button>
                        </div>
                    </form>
                    <span><router-link to="/login">login</router-link></span>
                    <div v-if="message!=''" class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <pre>{{message}}</pre>
                    </div>
                    <div v-if="errors.length" class="alert alert-danger" role="alert">
                        <b>Errores:</b>
                        <ul>
                            <li v-for="error in errors" :key="error">{{error}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import global from '../global'
    import axios from 'axios'
    import HeaderLoginComponent from './HeaderLoginComponent'
    export default {
        name: "RegisterComponent",
        data() {
            return {
                file: '',
                forms: {
                    name: '',
                    password: '',
                    email: '',
                },
                message: '',
                errors: []
            }
        },
        components: {
            'v-header-login': HeaderLoginComponent
        },
        methods: {
            registerUser: function (e) {
                e.preventDefault()
                this.errors = []
                if (this.forms.name === '') {
                    this.errors.push('usuario es requerido')
                } else if (this.forms.email === '') {
                    this.errors.push('email es requerido')
                } else if (this.forms.password === '') {
                    this.errors.push('passsword es requerido')
                } else {
                    const endpoint = global.$data.REGISTER
                    // let obj = JSON.stringify(this.forms)
                    let obj = (this.forms)
                    axios.post(endpoint, (obj)).then((response) => {
                        if (response.data.success === true) {
                            this.message = response.data.message
                            setTimeout(() => {
                                // this.$router.go({path: '/profile'})
                            }, 1000)
                        }else{
                            this.errors = response.data.message
                        }
                    })
                }
            }
        },
        mounted() {

        }
    }
</script>

<style scoped>
    .form-signin {
        width: 100%;
        max-width: 420px;
        padding: 15px;
        margin: 0 auto;
    }

    .form-label-group {
        position: relative;
        margin-bottom: 1rem;
    }

    .form-label-group > input,
    .form-label-group > label {
        padding: var(--input-padding-y) var(--input-padding-x);
    }

    .form-label-group > label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0; /* Override default `<label>` margin */
        line-height: 1.5;
        color: #495057;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
    }

    .form-label-group input::-webkit-input-placeholder {
        color: transparent;
    }

    .form-label-group input:-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-moz-placeholder {
        color: transparent;
    }

    .form-label-group input::placeholder {
        color: transparent;
    }

    .form-label-group input:not(:placeholder-shown) {
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
        padding-bottom: calc(var(--input-padding-y) / 3);
    }

    .form-label-group input:not(:placeholder-shown) ~ label {
        padding-top: calc(var(--input-padding-y) / 3);
        padding-bottom: calc(var(--input-padding-y) / 3);
        font-size: 12px;
        color: #777;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
</style>