<template>
    <div id="UserComponent">
        <span class="btn btn-outline-info" data-toggle="modal" data-target="#createModal">Nuevo</span>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th v-for="c in columns" :key="c">{{c}}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="i in listUser" :key="i.id">
                    <td>{{i.name}}</td>
                    <td>{{i.email}}</td>
                    <td>
                        <span class="btn btn-outline-info" data-toggle="modal" data-target="#editModal" @click="editUser(i.id)">Editar</span>
                        |
                        <span class="btn btn-outline-warning" data-toggle="modal"
                              data-target="#deleteModal" @click="editUser(i.id)">Eliminar</span></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">nuevo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                        <div class="form-group">
                            <input type="text" class="form-control" v-model="forms.name" required="required"
                                   placeholder="usuario">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" v-model="forms.email" required="required"
                                   placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" v-model="forms.password" required="required"
                                   placeholder="Password">
                        </div>

                        <div v-if="message!=''" class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <pre>{{message}}</pre>
                        </div>

                    </div>
                    <div v-if="errors.length" class="alert alert-danger" role="alert">
                        <b>Errores:</b>
                        <ul>
                            <li v-for="error in errors" :key="error">{{error}}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info"  @click="registerUser">
                            <i class="icon ion-md-save"></i>
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="example1ModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="example1ModalLabel">Editar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <div class="form-group">
                            <input type="text" class="form-control" v-model="formsE.name" required="required"
                                   placeholder="usuario">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" v-model="formsE.email" readonly required="required"
                                   placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" v-model="formsE.password" required="required"
                                   placeholder="Password">
                        </div>

                        <div v-if="message!=''" class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <pre>{{message}}</pre>
                        </div>

                    </div>
                    <div v-if="errorsE.length" class="alert alert-danger" role="alert">
                        <b>Errores:</b>
                        <ul>
                            <li v-for="error in errorsE" :key="error">{{error}}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" @click="updateUser(formsE.id)">
                            <i class="icon ion-md-save"></i>
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="example2ModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="example2ModalLabel">eliminar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">
                            Esta seguro de eliminar {{formsE.name}} ?
                        </div>
                        <div v-if="errorsD.length" class="alert alert-danger" role="alert">
                            <b>Errores:</b>
                            <ul>
                                <li v-for="error in errorsD" :key="error">{{error}}</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" @click="deleteUser(forms.id)">
                                <i class="icon ion-md-save"></i>
                                Eliminar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import global from '../global'
    import axios from 'axios'

    export default {
        name: "UserComponent",
        data() {
            return {
                message: '',
                errors: [],
                errorsE: [],
                errorsD: [],
                columns: ['name', 'email', 'acciones'],
                listUser: '',
                forms: {
                    name: '',
                    password: '',
                    email: '',
                },
                formsE: {
                    name: '',
                    password: '',
                    email: '',
                }
            }
        },
        methods: {
            listUserFn: function () {
                const endpoint = global.$data.LIST_USER
                axios.get(endpoint).then((response) => {
                    if (response.data.success === true) {
                        this.listUser = response.data.data
                    }
                })
            },
            registerUser: function (e) {
                e.preventDefault()
                this.errors = []
                if (this.forms.name === '') {
                    this.errors.push('usuario es requerido')
                } else if (this.forms.email === '') {
                    this.errors.push('email es requerido')
                } else if (this.forms.password === '') {
                    this.errors.push('passsword es requerido')
                } else {
                    const endpoint = global.$data.CREATE_USER
                    // let obj = JSON.stringify(this.forms)
                    let obj = (this.forms)
                    axios.post(endpoint, (obj)).then((response) => {
                        if (response.data.success === true) {
                            this.message = response.data.message
                            setTimeout(() => {
                                this.$router.go({path: '/user'})
                                // this.listUserFn();
                            }, 1000)
                        }else{
                            this.errors = response.data.message
                        }
                    })
                }
            },
            updateUser: function (id) {
               // e.preventDefault()
                this.errorsE = []
                if (this.formsE.name === '') {
                    this.errorsE.push('usuario es requerido')
                } else if (this.formsE.email === '') {
                    this.errorsE.push('email es requerido')
                } else if (this.formsE.password === '') {
                    this.errorsE.push('passsword es requerido')
                } else {
                    const endpoint = global.$data.UPDATE_USER+id
                    // let obj = JSON.stringify(this.forms)
                    let obj = (this.formsE)
                    axios.put(endpoint, (obj)).then((response) => {
                        if (response.data.success === true) {
                            this.message = response.data.message
                            setTimeout(() => {
                                this.$router.go({path: '/user'})
                                // this.listUserFn();
                            }, 1000)
                        }else{
                            this.errorsE = response.data.message
                        }
                    })
                }
            },
            editUser: function (id) {
                const endpoint = global.$data.EDIT_USER+ id
                axios.get(endpoint).then((response) => {
                    if (response.data.success === true) {
                        this.formsE = response.data.data
                        setTimeout(() => {
                            // this.$router.go({path: '/profile'})
                        }, 1000)
                    }else{
                        this.errorsE = response.data.message
                    }
                })
            },
            deleteUser: function (id) {
                const endpoint = global.$data.DELETE_USER+ id
                axios.get(endpoint).then((response) => {
                    if (response.data.success === true) {
                        this.forms = response.data.data
                        setTimeout(() => {
                             this.$router.go({path: 'user'})
                        }, 100)
                    }else{
                        this.errorsD = response.data.message
                    }
                })
            }
        },
        mounted() {
            this.listUserFn();
        }
    }
</script>

<style scoped>

</style>